doctype html
html(lang="en")
    head
        block title
            title My App
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .container
            block content